* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(219, 240, 206, 0.68);
  overflow-x: hidden;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  background-color: #a4b693;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2px 8px;
  position: fixed;
  top:0;
  z-index: 100;
}

.navbar .logo {
  display: flex;
  align-items:center;
  gap: 350px;
}

.navbar .logo img {
  width: 150px;
  height: 100px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  color: #3d5630;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

/* ===== HALAMAN PILIH ===== */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  background: url("../images/bgpilih.png") no-repeat center center/cover;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(86, 64, 64, 0.25);
  width: 220px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: contain;
}

.card button {
  margin-top: 15px;
  background-color: #a4b693;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.card button:hover {
  background-color: #a4b693;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .content {
    flex-direction: column;
    gap: 40px;
  }

  .card {
    width: 180px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
